<!DOCTYPE html>
<html lang="en" class="no-js">
{% include head.html %}

<body>
  <!-- 复用现有导航 -->
  <div class="masthead">
    <div class="masthead__inner-wrap">
      <div class="masthead__menu">
        <nav id="site-nav" class="greedy-nav">

          <ul class="visible-links">
            <li class="masthead__menu-item masthead__menu-item--lg"><a href="http://niuoruo.github.io/">Yongqian's
                Website</a></li>
            <li class="masthead__menu-item"><a href="#about-me">About me</a></li>
            <!-- <li class="masthead__menu-item"><a href="#publications">Publications</a></li> -->
            <li class="masthead__menu-item"><a href="#selected-projects">Projects</a></li>
            <li class="masthead__menu-item"><a href="#selected-awards">Awards</a></li>
            <li class="masthead__menu-item"><a href="/blog">Blog</a></li>
            
          </ul>

        </nav>
      </div>
    </div>
  </div>

  <div id="main" role="main">
    <article class="page">
      <header>
        <h1 class="page__title">{{ page.title }}</h1>
        <div class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
        </div>
      </header>

      <section class="page__content">
        {{ content }}
      </section>
    </article>
  </div>

  {% include footer.html %}
</body>
</html>