<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">

  <!-- begin SEO -->
  <title>{{ page.title }} | Yongqian's Website</title>
  <meta property="og:locale" content="en-US">
  <meta property="og:site_name" content="Yongqian's Website">
  <meta property="og:title" content="{{ page.title }}">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">

  <meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 160 }}">

  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "name" : "{{ page.title }}",
      "headline" : "{{ page.title }}",
      "description" : "{{ page.excerpt | strip_html | truncate: 160 }}",
      "url" : "{{ site.url }}{{ page.url }}",
      "datePublished" : "{{ page.date | date_to_xmlschema }}"
    }
  </script>
  <!-- end SEO -->

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.a' | relative_url }}">

  <!-- MathJax -->
  <script type="text/x-mathjax-config"> 
    MathJax.Hub.Config({ 
      TeX: { equationNumbers: { autoNumber: "all" } },
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
</head>

<body>
  <!-- 复用导航栏 -->
  <div class="masthead">
    <div class="masthead__inner-wrap">
      <div class="masthead__menu">
        <nav id="site-nav" class="greedy-nav">
          <ul class="visible-links">
            <li class="masthead__menu-item masthead__menu-item--lg">
              <a href="{{ '/' | relative_url }}">Yongqian's Website</a>
            </li>
            <li class="masthead__menu-item"><a href="#about-me">About me</a></li>
            <li class="masthead__menu-item"><a href="#selected-projects">Projects</a></li>
            <li class="masthead__menu-item"><a href="#selected-awards">Awards</a></li>
            <li class="masthead__menu-item"><a href="{{ '/blog' | relative_url }}">Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div id="main" role="main">

    <div class="sidebar sticky">

      <div itemscope itemtype="http://schema.org/Person">

        <div class="author__avatar">
          <img src="http://niuoruo.github.io/assets/images/avatar.jpg" class="author__avatar" alt="Yongqian WU">

        </div>

        <div class="author__content">
          <h2 class="author__name">Yongqian Wu &emsp;&emsp;(吴勇前)</h2>
        </div>

        <div class="page__content">
          <!-- <h5  align="center">Email: shverses@gmail.com </h5> -->
          <h5  align="center"> <a href="https://github.com/niuoruo">GitHub</a> &nbsp;&nbsp;&nbsp;</h5>
        </div>

        <div class="author__urls-wrapper"> <button class="btn btn--inverse">Follow</button>
          <!-- <ul class="author__urls social-icons">
            
              <h3 class="author__name"> </h3>
              <li>[ GitHub | X | WeChat ]</li>
              <li><a href=""> github</a></li>
              <li>p>[ <a href="http://sysu-star.com/">GitHub</a> | X | WeChat ] </p></li>
          </ul> -->
      </div>

      </div>


    </div>

    <!-- 博客内容区域 -->
    <div id="main" role="main">
        <article class="page">
        <header>
            <h1 class="page__title">{{ page.title }}</h1>
            <div class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: "%Y-%m-%d" }}
            </time>
            </div>
        </header>

        <section class="page__content">
            {{ content }}
        </section>
        </article>
    </div>

  <!-- 复用页脚（如需） -->
  <!-- <footer>...</footer> -->
</body>
</html>